pkgbase = barbatos-bin
	pkgdesc = Interactive Kotlin Native TUI debugger for Android apps via Frida
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/victorlpgazolli/barbatos
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = tmux
	optdepends = android-tools: ADB support for Android device interaction
	provides = barbatos
	provides = barbatos-bridge
	provides = barbatos-mcp
	conflicts = barbatos
	source = LICENSE::https://raw.githubusercontent.com/victorlpgazolli/barbatos/v1.0.0/LICENSE
	sha256sums = SKIP
	source_x86_64 = barbatos-linux-x64-tui-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-x64-tui
	sha256sums_x86_64 = SKIP
	source_x86_64 = barbatos-linux-x64-bridge-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-x64-bridge
	sha256sums_x86_64 = SKIP
	source_x86_64 = barbatos-linux-x64-mcp-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-x64-mcp
	sha256sums_x86_64 = SKIP
	source_aarch64 = barbatos-linux-arm64-tui-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-arm64-tui
	sha256sums_aarch64 = SKIP
	source_aarch64 = barbatos-linux-arm64-bridge-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-arm64-bridge
	sha256sums_aarch64 = SKIP
	source_aarch64 = barbatos-linux-arm64-mcp-1.0.0::https://github.com/victorlpgazolli/barbatos/releases/download/v1.0.0/barbatos-linux-arm64-mcp
	sha256sums_aarch64 = SKIP

pkgname = barbatos-bin
